build/
cmake-build*/
docs/
lib/asp_db
out/
soft/
tests/html

.cache/
.ccls-cache/
.clangd/
.idea/
.vs/
.vscode/

/**/*.autosave
/**/*.swp
/**/*.*.backup
/**/*.code-workspace

CMakeLists.txt.user*

compile_commands.json
CHANGELOG.md
HISTORY.md

