[submodule "lib/googletest"]
	path = lib/gtest
	url = https://github.com/google/googletest
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/asp_utils"]
	path = lib/asp_utils
	url = https://github.com/korteelko/asp_utils
